.slice {
    display: table;
    table-layout: fixed; // makes items equal sizes automatically
    width: 100%;
    margin: 100px 0;
}

.slice-item {
    display: table-cell;
    vertical-align: top;
}

@media all and (max-width: $phone) { 
  .slice {
    & > .slice-item { display: table-row; }
  }
}