// colors
$white: #FFFFFF;
$gray: #8C9BA2;

$teal: #56A292;
$dark-teal: #1C8080;

$blue: #283D4C;
$dark-blue: #1A262E;

// responsive
$tiny: 320px;
$small: 480px;
$phone: 640px;
$phone-l: 768px;
$tablet: 960px;
$tablet-l: 1024px;
$full: 1080px;
$desktop: 1280px;

// build media queries
@mixin tiny() {
	@include respond-to($tiny) { @content; }
}
@mixin small() {
	@include respond-to($small) { @content; }
}
@mixin phone() {
	@include respond-to($phone) { @content; }
}
@mixin phone-l() {
	@include respond-to($phone-l) { @content; }
}
@mixin tablet() {
	@include respond-to($tablet) { @content; }
}
@mixin tablet-l() {
	@include respond-to($tablet-l) { @content; }
}
@mixin full() {
	@include respond-to($full) { @content; }
}
@mixin desktop() {
	@include respond-to($desktop) { @content; }
}