.main-header {
	width: 100%;
	height: 50px;

	color: $white;
	background: rgba($blue, 0.1); // change when image is added

	border-bottom: 1px solid $teal;

	a {
		color: $white;
		text-decoration: none;
		text-transform: uppercase;

		padding: 15px;

		transition-property: color, background;
		transition-duration: .2s;

		&:hover { color: $teal; background: $white; }
	}
}

.main-header-wrapper {
	max-width: $full;
	margin: 0 auto;
}

.main-header-left, .main-header-center, .main-header-right {
	float: left;
	padding-top: 12px;
}

.main-header-left {
	width: 25%;
	text-align: left;

	.main-header-home {
		&:hover {color: none; background: none;}
	}
}

.main-header-center {
	width: 50%;
	text-align: center;

	li {
		display: inline;
	} 

	a {
		font-weight: 800;
	}
}

.main-header-right {
	width: 25%;
	text-align: right;
}