{
  "template": "main"
}

<div class="container features">
	<div class="bg-hero hero-2">
		<section class="section-hero">
			<div class="slice">
				<h1 class="text-center">FEAUTRES</h1>
			</div>
			
			<div class="slice">
				<div class="slice-item">
					<article class="text-center">
						<a href="#/"><i class="features-icon fa fa-eye fa-5x"></i></a>
					</article>
				</div>

				<div class="slice-item">
					<article class="text-center">
						<a href="#/"><i class="features-icon fa fa-cog fa-5x"></i></a>
					</article>
				</div>

				<div class="slice-item">
					<article class="text-center">
						<a href="#/"><i class="features-icon fa fa-lock fa-5x"></i></a>
					</article>
				</div>
			</div>	
		</section>
	</div>
</div>