@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700);


body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
	letter-spacing: 1px;
	color: $dark-blue;

	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 55px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 35px;
}

h5 {
	font-size: 25px;
}

p {
	font-size: 16px;
}

a {
	color: $teal;
	&:visited { color: $teal;}
	&:active { color: $teal;}
	&:hover { color: $white;}
}