.color-white { color: $white;}
.color-gray { color: $gray;}
.color-teal { color: $teal;}
.color-dark-teal { color: $dark-teal;}
.color-blue { color: $blue;}
.color-dark-blue { color: $dark-blue;}

.bg-white { background: $white;}
.bg-gray { background: $gray;}
.bg-teal { background: $teal;}
.bg-dark-teal { background: $dark-teal;}
.bg-blue { background: $blue;}
.bg-dark-blue { background: $dark-blue;}