// Variables
$desktop: 1024px;
$tablet: 850px;
$phone: 650px;
/* 
$light: #FFFFFF;
$gray: #8C9BA2;

$teal: #56A292;
$dark-teal: #1C8080;

$blue: #283D4C;
$dark-blue: #1A262E; 
*/

$teal: #56A292;
$blue: #17232B;
$light: #FFFFFF;
$gray: #95a5a6;
$coal: #2A2C2B;