.features {
	
}

.features-info {
	margin: 20px;

	h4 {
		color: $white;
	}

	p {
		font-size: 20px;
		color: $teal;
	}
}

.features-icon {
	font-size: 10rem !important;
	color: $teal;
	&:hover { 
		color: $white;
	}
}

.features-toggle {
	display: none;
	width: 100%;
	height: 500px;
	background: $teal;
}

@media all and (max-width: $phone) {
	.features-info {
		margin-bottom: 50px;
	}
}