.get-started-icon {
	color: $white;
	background: $dark-teal;

	border-left: solid 15px $teal;

	font-size: 10rem !important;

	padding: 30px 40px 30px 30px;
}



@media all and (max-width: $tablet) {
	.get-started-icon {
		padding: 15px 20px 15px 15px;
		font-size: 8rem !important;
	}
}