.how-it-works-section {
    width: 100%;
    color: $teal;
    background: url(../img/blurred-room.png) no-repeat center center scroll;
    background-color: $dark-blue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}