.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    color: $teal;
    text-align: center;
    background: url(../img/home.jpg) no-repeat bottom center scroll;
    background-color: $light;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }

        .intro-text {
            font-size: 18px;
        }
    }
}

@media(min-width:$tablet) {
    .intro {
        height: 100%;
        padding: 0;
        .intro-body {
            color: $light;
            .brand-heading {
                font-size: 100px;
            }

            .intro-text {
                font-size: 25px;
            }
        }
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    border: 2px solid $light;
    border-radius: 35px;
    font-size: 40px;
    color: $light;
    background: transparent;
    
    -moz-box-shadow: 0 0 25px #ccc;
    -webkit-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #fff;
    
    transition-property: border, color, background, box-shadow;
    // transition-timing-function: ease-in-out;s
    transition-duration: .5s;
    &:hover,
    &:focus {
        outline: none;
        color: $light;
        background: $teal;
        border-color: $teal;
        -moz-box-shadow: 0 0 100px #ccc;
        -webkit-box-shadow: 0 0 100px #ccc;
        box-shadow: 0 0 100px #fff;
    }
}