.shop-section {
    width: 100%;
    text-align: center;
}

.shop-section-bottom {
    color: $light;
    background-color: $blue;

    article {
		margin: 40px auto 80px auto;
    }
}

.shop-btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 25px;
	display: block;
	width: 250px;
	margin: 25px auto;
	.fa {
		padding-right: 10px;
	}
}

.swf-bg {
	background: url(../img/iphone1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 359px 655px;
	width: 400px;
	height: 670px;
	margin: 0 auto;

	embed {
		margin-top: 116px;
		margin-right: 4px;
	}
}

.shop-btn-btm {
	color: $light;
	border: 7px solid $teal;
	&:hover {
		color: $light;
		background: $teal;
	}
}

@media(max-width: $phone) {
	.shop-section {
		.slice {min-height: 500px;}
	}
	.swf-bg {
		background-size: 359px 655px;
		width: auto;
		height: 581px;
		margin: 0;

		embed {
			margin-top: 71px;
			margin-right: 6px;
		}
	}
}