.shop-section {
    width: 100%;
    height: 400px;
    color: $blue;
    background-color: $light;
}

.shop-section-bottom {
    width: 100%;
    height: 400px;
    color: $light;
    background-color: $blue;
}