.shop-section {
    width: 100%;
    text-align: center;

    img {
    	width: 200px;
    	height: 200px;
    	border: 1px solid gray;
    }
}

.shop-section-top {
	color: $blue;
    background-color: $light;
}

.shop-section-bottom {
    color: $light;
    background-color: $blue;
}

.shop-btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 25px;
	.fa {
		padding-right: 10px;
	}
}

.shop-btn-top {
	color: $blue;
	border: 7px solid $blue;
	&:hover {
		color: $light;
		background: $teal;
		border-color: $teal;
	}
}

.shop-btn-btm {
	color: $light;
	border: 7px solid $teal;
	&:hover {
		color: $light;
		background: $teal;
	}
}