.slice {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.slice-item {
    display: table-cell;
    vertical-align: top;
}

@media all and (max-width: $phone) { 
  .slice { & > .slice-item { display: table-row; } }
}