<!-- FOOTER BEGIN -->
<footer>
	<div class="inner-footer clearfix">
		<div class="inner-footer-left">
			<ul>
				<li><a href="#/">Blog</a></li>
				<li><a href="#/">Our Company</a></li>
				<li><a href="#/">Contact Us</a></li>
				<li><a href="#/">Privacy</a></li>
			</ul>
		</div>

		<div class="inner-footer-right">
			<ul>
				<li><a href="#/"><i class="fa fa-facebook-square fa-2x"></i></a></li>
				<li><a href="#/"><i class="fa fa-twitter-square fa-2x"></i></a></li>
				<li><a href="#/"><i class="fa fa-youtube-square fa-2x"></i></a></li>
				<li><a href="#/"><i class="fa fa-instagram fa-2x"></i></a></li>
			</ul>
		</div>

		<div class="inner-footer-bottom">
			<p>&#169; 2014 SmartHub</p>
		</div>
	</div>
</footer>