.main-header {
	width: 100%;
	height: 55px;

	position: fixed;
	z-index: 100;

	color: $white;
	background: none;
}

.main-header-wrapper {
	max-width: $desktop;
	margin: 0 auto;
}

.main-header-mobile,
.main-header-mobile-button { display: none; }

.main-header-left,
.main-header-right {
	a {
		color: $white;
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;

		padding: 20px 15px 18px;
		margin-left: -5px;

		transition-property: color, background;
		transition-duration: .2s;

		
	}
}

.main-header-right {
	float: left;
	padding-top: 15px;

	a { &:hover { color: $teal; background: $white; } }
}

.main-header-left {
	float: left;
	padding-top: 6px;
	width: 25%;
	text-align: left;

	img {
		width: 150px;
		height: auto;
		margin-top: 5px;
	}

	a { 
		padding: 21px 15px 14px;
	}
}

.main-header-right {
	width: 75%;
	text-align: right;

	li {
		display: inline;
	} 

	a {
		font-weight: 800;
	}
}

@media all and (max-width: $desktop) {
	.main-header-left { .main-header-home { padding-left: 15px;} }	
}

@media all and (max-width: $tablet) {
	.main-header { font-size:  .8rem; position: relative; }
	.main-header-left { width: 25%; }
	.main-header-right { width: 75%; }
	.main-header-left { .main-header-home { padding-left: 15px; width: 125px; } }	
}

@media all and (max-width: $phone) {
	.main-header {
		border-bottom: 1px solid $white;
	}

	.main-header-right { display: none; }

	.main-header-left { width: 80%; }

	.main-header-mobile { 
		display: none; 

		position: absolute;
		top: 55px;
		z-index: 99;

		background: $teal;
		width: 100%;

		li {
			text-align: center;
			text-transform: uppercase;

			border-bottom: 1px solid $white;

			&:last-child {
				border-bottom: 2px solid $dark-blue;
			}
		}

		a {
			color: $white;
			display: block;
			padding: 15px 0;

			transition-property: background, color;
			transition-duration: .3s;

			&:hover {
				background: $white;
				color: $dark-blue;
			}
		}
	}

	.main-header-mobile-button {
		display: block;

		position: absolute;
		top: 0;
		right: 0;

		width: 55px;
		height: 55px;

		cursor: pointer;

		background: $teal;

		.fa-bars {
			margin: 15px 16px;
		}
	}

	.mobile-bg-coal {
		background: $dark-blue;
	}
}

