footer {
    background: $teal;
    padding-top: 50px;
    p {
        margin: 0;
    }
}

.footer-top {
    background: $teal;
    padding: 25px 0;

    ul {
        text-align: center;
        padding: 10px 0;

        li {
            display: inline;
        }
    }

    

    .footer-top-ul-top {
        li {padding: 0 5px;}
        a {
            color: $light;
            transition-property: color;
            transition-duration: .3s;
            &:hover {color: $blue;}
        }
    }

    .footer-top-ul-bottom {
        li {padding: 0 10px;}
        a {
            font-size: 14px;
            color: $light;
            &:hover {color: $blue;}
        }
    }
}

.footer-bottom {
    padding: 25px;
    background: $light;
    color: $teal;
    text-align: center;

    p {font-size: 12px;}
}

@media all and (max-width: $phone) { 
    .footer-top-ul-bottom {
        li {
            width: 100%;
            display: block !important;
            padding: 0 !important;

            a {
                display: block;
                padding: 10px 0 !important;
                &:hover {
                    background: $teal !important;
                    color: $light !important;
                }
            }
        }
    }
}