.started-page {
	color: $white;

	h4 {
		margin: 40px 0;
		text-align: left;
	}
}

.started-header {
	margin-bottom: 50px;
	color: $dark-teal;
	text-align: center;
}

.started-icon-wrapper {
	width: 290px;
	height: 225px;
	margin: 0 auto;
	padding-top: 35px;

	background: $dark-teal;
	border-left: 20px solid $teal;
}

.started-icon {
	font-size: 10rem !important;
	color: $white;
}

.started-number {
	color: $teal;
	margin-right: 20px;

	padding: 5px 12px;

	border-radius: 100px;
  	border: 4px solid $teal;
}